
 <div class="panel panel-default">
  <div class="panel-heading"> <%= comment.commenter %></div>
  <div class="panel-body">
    <%= comment.body %>
  </div>
</div>
<p>
<% if user_signed_in? and comment.article.user==current_user %>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <% end %>
</p>